<div>
<h1>Order Here</h1>

<%= render 'cars/new_car' %>	

<%= render 'locations/new_loc' %>

<%= render 'profiles/new_prof' %>

<%= link_to "Book now", new_order_path, class: "btn btn-success btn-lg" %>
</div>